article {
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    -ms-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 110px;
    overflow-y: hidden;
}

section {
-webkit-transform: none;
-moz-transform: none;
-ms-transform: none;
-o-transform: none;
transform: none;

display: table-cell;
width: 200px;
height: 100px;
border: 1px solid black;
border-radius: 5px;
padding-left: 1em;
margin-left: 50%;
left: -100px;
position: absolute;

-webkit-transition: -webkit-transform .7s ease, opacity .7s ease;
-moz-transition: -moz-transform .7s ease, opacity .7s ease;
-ms-transition: -ms-transform .7s ease, opacity .7s ease;
-o-transition: -o-transform .7s ease, opacity .7s ease;
transition: transform .7s ease, opacity .7s ease;
}
  .before {
    -webkit-transform: translate3d(-220%, 0, 0);
    -moz-transform: translate3d(-220%, 0, 0);
    -ms-transform: translate3d(-220%, 0, 0);
    -o-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
    opacity: 0;
  }
.prev {
    -webkit-transform: translate3d(-110%, 0, 0);
    -moz-transform: translate3d(-110%, 0, 0);
    -ms-transform: translate3d(-110%, 0, 0);
    -o-transform: translate3d(-110%, 0, 0);
    transform: translate3d(-110%, 0, 0);
    opacity: 0.25;
}

.next {
    -webkit-transform: translate3d(110%, 0, 0);
    -moz-transform: translate3d(110%, 0, 0);
    -ms-transform: translate3d(110%, 0, 0);
    -o-transform: translate3d(110%, 0, 0);
    transform: translate3d(110%, 0, 0);
    opacity: 0.25;
}
.active {
    opacity: 1;
}
.after {
    -webkit-transform: translate3d(220%, 0, 0);
    -moz-transform: translate3d(220%, 0, 0);
    -ms-transform: translate3d(220%, 0, 0);
    -o-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
    opacity: 0.01;
  }
  
.inactive {
    visibility: hidden;
    opacity: 0;
}